.app-form {
  display: grid;
  gap: inherit;
  margin: 0;
}

.app-fieldset {
  display: grid;
  gap: var(--space-4);
  min-inline-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.app-fieldset__legend {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-fieldset__legend + .app-fieldset__description {
  clear: both;
}

.app-fieldset__description {
  display: flex;
  align-items: center;
  min-height: 44px;
  color: var(--neutral-700);
}

.app-fieldset__description .app-text__content {
  display: flex;
  align-items: center;
  min-height: 44px;
}

.app-fieldset__content {
  display: grid;
  gap: var(--space-4);
}
