:root {
  --font-family-sans: 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 14px;
  --font-size-lg: 18px;
  --font-size-xl: 22px;
  --font-size-subheading: 21px;
  --font-size-2xl: 28px;
  --font-size-3xl: 34px;

  --line-height-xs: 16px;
  --line-height-sm: 20px;
  --line-height-md: 20px;
  --line-height-lg: 26px;
  --line-height-xl: 28px;
  --line-height-subheading: 26px;
  --line-height-2xl: 34px;
  --line-height-3xl: 40px;

  --letter-spacing-tight: -0.01em;
  --letter-spacing-wide: 0.02em;
}

body {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  color: var(--primary);
}

.t-3xl {
  font-size: var(--font-size-3xl);
}

.t-2xl {
  font-size: var(--font-size-2xl);
}

.t-xl {
  font-size: var(--font-size-xl);
}

.t-lg {
  font-size: var(--font-size-subheading);
}

.t-md {
  font-size: var(--font-size-lg);
}

.t-base {
  font-size: var(--font-size-md);
}

.t-sm {
  font-size: var(--font-size-sm);
}

.t-xs {
  font-size: var(--font-size-xs);
}

.lh-3xl {
  line-height: var(--line-height-3xl);
}

.lh-2xl {
  line-height: var(--line-height-2xl);
}

.lh-xl {
  line-height: var(--line-height-xl);
}

.lh-lg {
  line-height: var(--line-height-lg);
}

.lh-md {
  line-height: var(--line-height-md);
}

.lh-sm {
  line-height: var(--line-height-sm);
}

.lh-xs {
  line-height: var(--line-height-xs);
}

.w-400 {
  font-weight: var(--font-weight-regular);
}

.w-500 {
  font-weight: var(--font-weight-medium);
}

.w-600 {
  font-weight: var(--font-weight-semibold);
}

.ls-tight {
  letter-spacing: var(--letter-spacing-tight);
}

.ls-wide {
  letter-spacing: var(--letter-spacing-wide);
}

.uc {
  text-transform: uppercase;
}
