:root {
  --ion-color-primary: var(--brand-1);
  --ion-color-primary-rgb: var(--brand-1-rgb);
  --ion-color-primary-contrast: var(--brand-1-contrast);
  --ion-color-primary-contrast-rgb: var(--brand-1-contrast-rgb);
  --ion-color-primary-shade: var(--brand-1-shade);
  --ion-color-primary-tint: var(--brand-1-tint);
}
