:root {
  --app-background: #f6f4f0;
  --ion-color-primary: #1c4a47;
  --ion-color-primary-rgb: 28, 74, 71;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #193f3c;
  --ion-color-primary-tint: #335c58;
}
